{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2>Admin</h2>

    <h3>Tools</h3>
    <ul>
    <li><a href="#">Generate Matches</a></li>
    <li><form action="/admin/addcarl" method="post"><input type="text" name="carletonID"><input type="submit" value="Add CarletonID"></form></li>
    </ul>

    <h3>Existing Users</h3>
    <table>
      <tr><th>Carleton ID</th><th>Paired?</th><th>Google ID</th><th>Actions</th></tr>
      {% for carl in carls %}
        <tr><td>{{ carl.carletonID }}</td>
        {% if carl.googleID %}
          <td>PAIRED</td><td>{{ carl.googleID }}</td>
        {% else %}
         <td>CODE [{{ carl.verificationCode }}]</td><td>NOT PAIRED</td>
        {% endif %}
        <td>
	  <form class="buttonForm" action="/admin/unpaircarl" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="UnPair"></form>
	  <form class="buttonForm" action="/admin/newpaircode" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="NewPairCode"></form>
	  <form class="buttonForm" action="/admin/deletecarl" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="Delete"></form>
	  <form class="buttonForm"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="Send Invitation"></form>
	</tr>
      {% endfor %}
    </table>
</div>
{% endblock %}