{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery/jquery-ui-1.8.12.custom.css" />
<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
{% endblock %}

{% block content %}
<div id="main" class="colwrapper">
<div class="leftcol">
    <div id="crushes-header">
    <h2 style="display:inline;">Crushes</h2>
    <span id="new-crush">new crush: <input type="text" class="crush" name="crush"></span>
    </div>
    <div id="crushes">
    {% for crush in crushes %}
    <div class="crushdiv">
        <img src="/user_images/{{ crush.target.carletonID }}.jpg" width="120" height="120"><br>
        {{ crush.target.first_name }} {{ crush.target.last_name }}<br>
        {% if not crush.target.opted_in %}<span style="color:red;">opted out</span><br>
        {% else %}
            {% if not crush.target.googleID %}<span style="color:red;">not yet registered</span><br>
            {% else %}<span style="color:green;">available!</span><br>
            {% endif %}
        {% endif %}
        <button class="messageCrush" value="{{ crush.target.carletonID }}">message</button>
        <button class="removeCrush" value="{{ crush.target.carletonID }}">remove</button>
    </div>
    {% endfor %}
    </div>
</div>

<div class="rightcol">
    <div id="messages-header">
        <h2 style="display:inline;">Messages</h2>
        <ul id="messages-nav">
            <li id="messages-nav-to-me" class="active"><a href="javascript:void(0);" onclick="javascript:showMessages('to-me');">To Me</a></li>
            <li id="messages-nav-from-me"><a href="javascript:void(0);" onclick="javascript:showMessages('from-me');">From Me</a></li>
        </ul>
    </div>
    <div id="messages-to-me" class="messages-tab">
    <ul id="messages">
       {% for message in messages %}
         <li class="message" mid="{{ message.key.id }}">
           <div class="timestamp"><strong>Someone</strong> on {{ message.created|date:"M d \@ g:i:s A"}}</div>
           <div class="actions">
             <ul id="icons" class="ui-widget ui-helper-clearfix">
               {% if not message.replies.count %}<li class="ui-state-default ui-corner-all reply-button" title="Reply"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></li>{% endif %}
               <li class="ui-state-default ui-corner-all delete-button" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
               <li class="ui-state-default ui-corner-all block-button" title="Block User"><span class="ui-icon ui-icon-cancel"></span></li>
             </ul>
           </div>
           <br>{{ message.body }}
         </li>
         {% for reply in message.replies %}
           <li class="message{% if carleton_id == reply.source.carletonID %} sent{% endif %}" style="margin-left: 2em;">
             <div class="timestamp">
                 {% if carleton_id == reply.source.carletonID %}<strong>You</strong> on
                 {% else %}<strong>Someone</strong> on {% endif %}
                 {{ reply.created|date:"M d \@ g:i:s A"}}
             </div>
	     <br>{{ reply.body }}
	   </li>
	 {% endfor %}
         <li class="message reply-box" mid="{{ message.key.id }}" style="margin-left:2em;{% if not message.replies.count %}display:none;{% endif %}"><input type="text" class="reply-text"></li>
       {% endfor %}
    </ul>
    </div>
    <div id="messages-from-me" class="messages-tab">
    <ul id="messages">
       {% for message in sent_messages %}
         <li class="message sent" mid="{{ message.key.id }}">
           <div class="timestamp"><strong>You</strong> to <strong>{{ message.target.first_name }} {{ message.target.last_name }}</strong> on {{ message.created|date:"M d \@ g:i:s A"}}</div>
           <div class="actions">
             <ul id="icons" class="ui-widget ui-helper-clearfix">
               {% if not message.replies.count %}<li class="ui-state-default ui-corner-all reply-button" title="Reply"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></li>{% endif %}
               <li class="ui-state-default ui-corner-all delete-button" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
               <li class="ui-state-default ui-corner-all block-button" title="Block User"><span class="ui-icon ui-icon-cancel"></span></li>
             </ul>
           </div>
           <br>{{ message.body }}
         </li>
         {% for reply in message.replies %}
           <li class="message{% if carleton_id == reply.source.carletonID %} sent{% endif %}" style="margin-left:2em;">
             <div class="timestamp">
                 {% if carleton_id == reply.source.carletonID %}<strong>You</strong> on
                 {% else %}<strong>{{ reply.source.first_name }} {{ reply.source.last_name }}</strong> on {% endif %}
                 {{ reply.created|date:"M d \@ g:i:s A"}}
             </div>
	     <br>{{ reply.body }}
	   </li>
	 {% endfor %}
         <li class="message reply-box" mid="{{ message.key.id }}" style="margin-left:2em;{% if not message.replies.count %}display:none;{% endif %}"><input type="text" class="reply-text"></li>
       {% endfor %}
    </ul>
    </div>
</div>

</div>

<div id="new-message-form" title="New Message">
  <form>
  <fieldset>
    <input type="hidden" name="to">
    <label for="to_label">To</label><input type="text" name="to_label" class="text ui-widget-content ui-corner-all" disabled>
    <label for="body">Body</label><textarea name="body" id="body" class="text ui-widget-content ui-corner-all"></textarea>
  </fieldset>
  <p>Note: Beware of what you send. Even though messages are anonymous, users have the power to block you, so don't spam and be appropriate.</p>
</form>
</div>

<script>
$(document).ready(function() {
    $.getJSON('/autofill', function(data) {
        $(".crush").autocomplete({
            minLength: 1,
            delay: 0,
            source: data,
            select: function(event, ui) {
                $(this).val("");
                    $.post("/crushes/add", { "crush": ui.item.carletonID }, function(data) {
                        if (data.success == 0) {
                            var status;
                            if (data.status == "not_paired") { status = '<span style="color:red;">not yet registered</span><br>'; }
                            else if (data.status == "opted_out") { status = '<span style="color:red;">opted out</span><br>'; }
                            else { status = '<span style="color:green;">available!</span><br>'; }
                            $("#crushes").append('<div class="crushdiv"><img src="/user_images/' + ui.item.carletonID + '.jpg" width="120" height="120"><br>' + ui.item.first_name + " " + ui.item.last_name + "<br>" + status + '<button class="messageCrush" value="' + ui.item.carletonID + '">message</button> <button class="removeCrush" value="' + ui.item.carletonID + '">remove</button></div>');
                        }
                        else if (data.success == 1) { alert("Your account must be paired and opted-in in order to add crushes."); }
                        else if (data.success == 2) { alert(ui.item.value + " is already one of your crushes."); }
                        else if (data.success == 3) { alert(ui.item.value + " is not in our database."); }
                        else if (data.success == 4) { alert("You cannot choose yourself as a crush."); }
                        else if (data.success == 5) { alert("Sorry. You can't have more than 5 crushes. Please remove one before adding another."); }
                        else { alert("There was an error in adding your crush. Please try again."); }
                    }, "json");
                return false; // tells autocomplete not to update the field with the selected value
            }
        });
    });

    $("#new-message-form").dialog({
        autoOpen: false,
        height: 400,
        width: 450,
        modal: true,
        buttons: {
            Cancel: function() { $(this).dialog("close"); },
            "Send Message": function() {
                                $.post("/messages/send", { "to": $("input[name='to']").val(), "body": $("textarea[name='body']").val() }, function(data) {
                                    if (data.success == 0) { $("#new-message-form").dialog("close"); } // add a notification that the message was successfully sent
                                    else if (data.success == 1) { alert("Your account must be paired and opted-in in order to send messages."); }
                                    else if (data.success == 2) { alert($("input[name='to']").val() + " is not in our database. Could not send message."); }
                                    else if (data.success == 3) { alert($("input[name='to']").val() + " is not one of your crushes. You can only send a message to one of your crushes."); }
                                    else { alert("There was an error in sending your message. Please try again."); }
                                }, "json");
                            }
        },
        close: function() { $("#to").val(""); $("#body").val(""); }
    });
    
    $(".messageCrush:button").live('click', messageSendListener);
    $(".removeCrush:button").live('click', crushRemoveListener);
    $(".reply-button").live('click', messageReplyListener);
    $(".delete-button").live('click', messageRemoveListener);
    $(".block-button").live('click', blockUserListener);
    $(".reply-text").live('focus', messageSendReplyListener);
});

function crushRemoveListener() {
    var crush = $(this);
    $.post("/crushes/remove", { "crush": $(this).val() }, function(data) {
        if (data.success == 0) {
            crush.parent().fadeOut(function() { $(this).remove(); });
        }
        else if (data.success == 1) { alert("Your account must be paired and opted-in in order to remove crushes."); }
        else if (data.success == 2) { alert("Your crush does not exist."); }
        else { alert("Error in deleting crush. Try again."); }
    }, "json");
}

function messageSendListener(user) {
    $("#new-message-form input[name='to']").val($(this).val());
    $("#new-message-form input[name='to_label']").val($(this).val()); // make this their first name and last name
    $("#new-message-form").dialog("open");
}

function messageRemoveListener() {
    if (confirm("Do you really want to delete this message?")) {
        var message = $(this).parent().parent().parent();
        $.post("/messages/delete", { "mid": message.attr("mid") }, function(data) {
            if (data.success == 0) { message.fadeOut("fast", function() { message.remove(); }); }
            else if (data.success == 1) { alert("Your account must be paired and opted-in in order to delete messages."); }
            else if (data.success == 2) { alert("Message does not exist or you tried to delete another user's message."); }
            else { alert("Error in deleting message. Try again."); }
        }, "json");
    }
}

function showMessages(tab) {
    $(".messages-tab").hide();
    $("#messages-" + tab).show();
    $("#messages-nav li").removeClass("active");
    $("#messages-nav-" + tab).addClass("active");
}

function messageReplyListener() {
    $(this).parent().parent().parent().next(".reply-box").show();
    $(this).parent().parent().parent().next(".reply-box").find("input").focus();
}

function messageSendReplyListener() {
  $(this).keyup(function(event) {
    if (event.keyCode == 13) {
      var reply = $(this).parent();
      var reply_box = $(this);
      var reply_body = $(this).val();
      reply_box.val("");
      reply.after(reply.clone());
      reply.html('<div class="timestamp"><strong>You</strong> just now</div><br>' + reply_body);
      reply.addClass("sent");
      $.post("/messages/reply", { "mid": reply.attr("mid"), "body": reply_body }, function(data) {
        if (data.success == 0) { }
        else if (data.success == 1) { alert("Your account must be paired and opted-in in order to reply to messages."); }
        else if (data.success == 2) { alert("Message does not exist or you tried to reply another user's message."); }
        else { alert("Error in replying to  message. Try again. The added message will be gone when you refresh the page."); }
      }, "json");
    }
  });
}

function blockUserListener() {
    alert("feature not working now");
}
</script>
{% endblock %}
