{% extends "base.html" %}

{% block content %}
<div id="main">

<div id="mycrushes">
<h2>My Crushes</h2>
<form action="/crushes" method="post">
  {% for name in carls2carls %} 
    <div>{{ forloop.counter }}. <input type="text" class="crush" name="carl{{ forloop.counter0 }}" value="{{ name }}"></div>
  {% endfor %}
  <input type="submit" value="Submit">
</form>
</div>

<div id="messages">
<h2>Messages from people who have crushes on me</h2>
<ul>
<li>message 1 [delete]</li>
<li>message 2 [delete]</li>
<li>message 3 [delete]</li>
</ul>

</div>

</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery/jquery-ui-1.8.12.custom.css" />
<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<script>

$(document).ready(function() {
    $(".crush").autocomplete({
        source: "/autofill"
    });
});

</script>
{% endblock %}