{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery/jquery-ui-1.8.12.custom.css" />
<style> 
  h2 { display: inline; }
  button { float: right; }
  input { display: inline; }
</style>
<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.12.custom.min.js"></script>
{% endblock %}

{% block content %}
<div id="main">

<div class="leftcol">
<h2>Crushes</h2>
    <span id="new-crush">new crush: <input type="text" class="crush" name="crush"></span>
    <div id="crushes">
    {% for crush in crushes %}<div class="crushdiv"><img src="/user_images/{{ crush.carletonID }}.jpg" width="100" height="100"><br>{{ crush.carletonID }}<button class="removeCrush" value="{{ crush.carletonID }}">remove</button></div>{% endfor %}
    </div>
</div>

<div class="rightcol">
    <h2>Messages</h2><button id="new-message-button">New Message</button>
    <ul id="messages">
       {% for message in messages %}
       <li class="message" mid="{{ message.key.id }}">
         <div class="timestamp">{{ message.created|date:"M d \@ g:i:s A"}}</div>
         <div class="actions">
           <ul id="icons" class="ui-widget ui-helper-clearfix">
             <li class="ui-state-default ui-corner-all delete-button" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
             <li class="ui-state-default ui-corner-all block-button" title="Block User"><span class="ui-icon ui-icon-cancel"></span></li>
           </ul>
         </div>
         <br>{{ message.message }}
       </li>
       {% endfor %}
    </ul>
</div>

</div>

<div id="new-message-form" title="New Message">
  <form>
  <fieldset>
    <label for="to">To</label>
    <select name="to" id="to" class="ui-select-menu ui-widget-content ui-corner-all">
    {% for crush in crushes %}<option value="{{ crush.carletonID }}">{{ crush.first_name }} {{ crush.last_name }} ({{ crush.carletonID }})</option>{% endfor %}
    </select>
    <label for="body">Body</label><textarea name="body" id="body" class="text ui-widget-content ui-corner-all"></textarea>
  </fieldset>
  <p>Note: Beware of what you send. Even though messages are anonymous, users have the power to block you, so don't spam and be appropriate.</p>
</form>
</div>

<script>
$(document).ready(function() {
    var cache = {}, lastXhr;
    $(".crush").autocomplete({
        minLength: 1,
        source: function(request, response) {
            var term = request.term;
            if (term in cache) { response(cache[term]); return; }
            lastXhr = $.getJSON("/autofill", request, function(data, status, xhr) {
                cache[term] = data;
                if (xhr === lastXhr) { response(data); }
            });
        },
        select: function(event, ui) {
            $(this).val("");
                $.post("/crushes/add", { "crush": ui.item.carletonID }, function(data) {
                    if (data.success == 0) {
                        $("#crushes").append('<div class="crushdiv"><img src="/user_images/' + ui.item.carletonID + '.jpg" width="100" height="100"><br>' + ui.item.carletonID + '<button class="removeCrush" value="' + ui.item.carletonID + '">remove</button></div>');
                        $("#to").append('<option value="' + ui.item.carletonID + '">' + ui.item.value + '</option>');
                    }
                    else if (data.success == 1) { alert("Your account must be paired and opted-in in order to add crushes."); }
                    else if (data.success == 2) { alert(ui.item.value + " is already one of your crushes."); }
                    else if (data.success == 3) { alert(ui.item.value + " is not in our database."); }
                    else if (data.success == 4) { alert(ui.item.value + " has opted out. Try again later. Maybe they will have opted back in."); }
                    else if (data.success == 5) { alert("You cannot choose yourself as a crush."); }
                    else if (data.success == 6) { alert("Sorry. You can't have more than 5 crushes. Please remove one before adding another."); }
                    else { alert("There was an error in adding your crush. Please try again."); }
                }, "json");
            return false; // tells autocomplete not to update the field with the selected value
        }
    });

    $("#new-message-form").dialog({
        autoOpen: false,
        height: 400,
        width: 450,
        modal: true,
        buttons: {
            Cancel: function() { $(this).dialog("close"); },
            "Send Message": function() {
                                $.post("/messages/send", { "to": $("select[name='to']").val(), "body": $("textarea[name='body']").val() }, function(data) {
                                    if (data.success == 0) { $("#new-message-form").dialog("close"); }
                                    else if (data.success == 1) { alert("Your account must be paired and opted-in in order to send messages."); }
                                    else if (data.success == 2) { alert($("select[name='to']").val() + " is not in our database. Could not send message."); }
                                    else if (data.success == 3) { alert($("select[name='to']").val() + " has opted out. Try again later. Maybe they will have opted back in."); }
                                    else if (data.success == 4) { alert($("select[name='to']").val() + " is not one of your crushes. You can only send a message to one of your crushes."); }
                                    else { alert("There was an error in sending your message. Please try again."); }
                                }, "json");
                            }
        },
        close: function() { $("#to").val(""); $("#body").val(""); }
    });
    $("#new-message-button").click(function() {
        if ($("#to option").length) { $("#new-message-form").dialog("open"); }
        else { alert("You must add crushes to send a message."); }
    });
    $(".removeCrush:button").live('click', crushRemoveListener);
    $(".delete-button").live('click', messageRemoveListener);
    $(".block-button").live('click', blockUserListener);
});

function crushRemoveListener() {
    $(this).parent().slideUp(function() { $(this).remove(); });
    $('#to option:contains("' + $(this).val() + '")').remove(); // make sure not to remove extra stuff if matches more than 1 name
    $.post("/crushes/remove", { "crush": $(this).val() }, function(data) {
        if (data.success == 1) { alert("Your account must be paired and opted-in in order to remove crushes."); }
    });
}

function messageRemoveListener() {
    if (confirm("Do you really want to delete this message?")) {
        var message = $(this).parent().parent().parent();
        $.post("/messages/delete", { "mid": message.attr("mid") }, function(data) {
            if (data.success == 0) { message.fadeOut("fast", function() { message.remove(); }); }
            else if (data.success == 1) { alert("Your account must be paired and opted-in in order to delete messages."); }
            else if (data.success == 2) { alert("Message does not exist or you tried to delete another user's message."); }
            else { alert("Error in deleting message. Try again."); }
        }, "json");
    }
}

function blockUserListener() {
    alert("feature not working now");
}
</script>
{% endblock %}
