<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<!--
{% if user %}
<div id="account">
    <ul>
        {% if admin %}
          <li><a href="admin">Admin</a></li>
          <li>-</li>
        {% endif %}
        {% if paired %}
            <li><a href="#">carlname</a></li>
        {% else %}
            <li id="pair"><a href="pair">Pair Your Account</a></li>
        {% endif %}
        <li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
    </ul>
{% endif %}
-->
    
</div>

<div id="header">
<h1>Last Chance Dance</h1>
</div>
<div id="nav">
<ul>
  <li><a href="/">Main</a></li>
  {% if user %}
      {% if paired %}
          <li><a href="pair">Unpair Account With {{ carlName }}</a></li>
          {% if active %}
              <li><a href="optout">Opt Out</a></li>
              <li><a href="crushes">Crushes</a></li>
          {% else %} <!-- people who've opted out can only opt back in -->
              <li><a href="optout">Opt In</a></li>
          {% endif %}
          {% else %} <!-- not paired -->
          <li><a href="pair">You Need to Pair Your Account</a></li>
      {% endif %}
      {% if admin %}
          <li><a href="admin">Admin</a></li>
      {% endif %}
  {% endif %}
  <li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
</ul>
</div>
