<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>

<div id="header"><h1>LCD</h1></div>
<div id="nav">
<ul>
  <li><a href="/">Main</a></li>
  {% if user %}
  <li><a href="{{pair_url}}">{{pair_url_linktext}}</a></li>
  {% if paired %}
  <li><a href="preferences">Preferences</a></li>
  <li><a href="optout">Opt Out</a></li>
  {% endif %}
  {% if admin %}
  <li><a href="admin">Admin</a></li>
  {% endif %}
  {% endif %}
  <li><a href="{{login_url}}">{{login_url_linktext}}</a></li>
</ul>
</div>
