<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    
<div id="container">

<div id="header">
<h1><a href="/">Last Chance Dance</a></h1>
</div>
<div id="nav">
<ul>
  <li><a href="/">Main</a></li>
  {% if user %}
    {% if paired %}
    <li><a href="/settings">Settings</a></li>
    {% else %}
    <li class="alert"><a href="/settings">Settings</a><span>you need to pair your account</span></li>
    {% endif %}
    {% if active and paired %}
      <li><a href="/crushes">Crushes</a></li>
    {% endif %}
  {% endif %}
  {% if admin %}
    <li><a href="/admin">Admin</a></li>
  {% endif %}
  <li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
</ul>
</div>
