{% extends "base.html" %}

{% block content %}
<div id="main">

    <h2>Inbox</h2>
    <ul id="message_list">
        {% for message in messages %}
        <li><span class="sender">{{message.source}}</span> <span class="message">{{ message.message }}</span></li>
        {% endfor %}
    </ul>

    <h2>Send a message</h2>
    <form action="/messages/send" method="post" accept-charset="utf-8">
        <p>To: <input type="text" name="to" value=""></p>
        <textarea name="body" rows="8" cols="40"></textarea>
    
    <p><input type="submit" value="Send &rarr;"></p>
    </form>
    
</div>
{% endblock %}