<!DOCTYPE HTML>
<html>
<body>
<h1>Pair Your Account</h1>

<form action="/pair" method="post">
<p>Enter Your Carleton ID: <input type="text" name="carletonID"></p>
<p>Enter Your Pair Code: <input type="text" name="verificationCode"></p>
<p><input type="submit" value="Pair Accounts!"></p>
</form>

<form action="/sendPairCode" method="post">
<p>Don't have your pair code? Get another one!</p>
<p>Enter Your Carleton ID: <input type="text" name="carletonID"></p>
<p><input type="submit" value="Get new pair code!"></p>
</form>

</body>
</html>
