{% extends "base.html" %}

{% block content %}
<div id="main">

{% if paired %}

  <h2>Name</h2>
  <p>{{ first_name }} {{ last_name }} <small>(If this is incorrect, please <a href="/contact">contact lcDance</a>)</small></p>

  {% if opted_in %}
  <h2>Opt Out</h2>
  <form action="/settings/optout" method="post">
  <p>You are currently Opted In. By clicking Opt Out, you will not be able to select crushes, and other people will not be able to select you as a crush.</p>
  <p><input type="submit" value="Opt Out" onclick="if(!confirm('Do you really want to opt out?')){return false;};"></p>
  </form>

  {% else %}
  <h2>Opt In</h2>
  <form action="/settings/optin" method="post">
  <p>By clicking Opt In, you will be able to select crushes, and other people will be able to select you as a crush.</p>
  <p><input type="submit" value="Opt In"></p>
  </form>
  {% endif %}

  <h2>Un-Pair Your Account</h2>
  <form action="/settings/unpair" method="post">
  <p>Your account is currently paired with <strong>{{ carleton_id }}</strong>. If you want to un-pair your account, click Un-Pair Account.</p>
  <p><input type="submit" value="Un-Pair Account" onclick="if(!confirm('Do you really want to un-pair this Google ID from this Carleton ID?')){return false;};"></p>
  </form>

{% else %}
  <h2>Pair Your Account</h2>
  <form action="/settings/pair" method="post">
  <p>Your account is currently not paired with a Carleton ID. Enter your the information below so you can start using Last Chance Dance!</p>
  <p>Carleton ID:<input type="text" name="carletonID"></p>
  <p>Pair Code:<input type="text" name="pair_code"></p>
  <p><input type="submit" value="Pair Account"></p>
  </form>

  <h2>Get Another Invitation</h2>
  <p>Use this if you don't have a Pair Code or want to Pair Your Account with another Google ID.</p>
  <form action="/settings/sendcode" method="post">
  <p>Carleton ID: <input type="text" name="carletonID"></p>
  <p><input type="submit" value="Get Invitation"></p>
  </form>
{% endif %}

</div>
{% endblock %}
