html, body
{
    height: 100%;
}

html
{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body
{
    font-family: Arial, sans-serif;
    width: 56em;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    margin: 0;
    margin-top 0.5em;
    color: #B14500;
}

div#container {
   min-height: 100%;
   position: relative;
}

div#header
{
    float: left;
    margin-top: 5em;
}

div#header h1
{
    display: inline;
}

div#header a, div#header a:hover, div#header a:visited, div#header a:active
{
    color: #B14500;
    text-decoration: none;
}

div#nav
{
    float: right;
    margin-top: 5em;
}

div#nav ul
{
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

div#nav ul li
{
    display: inline;
    background: #04346C;
    list-style-type: none;
    margin: 0px 2px;
}

div#nav ul li a, div#nav ul li a:hover, div#nav ul li a:visited, div#nav ul li a:active
{
    color: #FFFFFF;
    background: #04346C;
    text-decoration: none;
    padding: 0.3em;
}

div#nav ul li.alert
{
    position: relative;
    text-decoration: none;
}

div#nav ul li.alert a
{
    background: #B14500 !important;
}

div#nav ul li.alert span
{
    display: block;
    position: absolute; 
    padding: .75em;
    content: attr(title);
    min-width: 120px;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    font: normal 12px "Segoe UI", Arial, Sans-serif;
    top: -50px;
    left: -37px;
    background: rgba(0,0,0,.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 10px;    
    color: #FFFFFF;
}

div#nav ul li.alert span:after
{
    position: absolute;
    display: block;
    content: "";  
    border-color: rgba(0,0,0,.8) transparent transparent transparent;
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
    position: absolute;
    left: 62px;
    bottom: -14px;
    margin: auto;
}

div#main
{
    display: block;
    margin: 0px auto;
    clear: both;
    padding-top: 10px;
    padding-bottom: 60px;
}

div#main a, div#main a:hover, div#main a:visited, div#main a:active, div#footer a, div#footer a:hover, div#footer a:visited, div#footer a:active
{
    color: #04346C;
}

div#mycrushes
{
    float: left;
}

div#messages
{
    float: right;
}

div#footer
{
    position: absolute;
    bottom: 0;
    padding-bottom: 60px;
    text-align: center;
}

table
{
    border: 1px solid #000000;
    border-collapse: collapse;
}

table th, table td
{
    border: 1px solid #000000;
    padding: 5px;
}

form.buttonForm
{
    display: inline;
}

form#contactForm input[name="subject"]
{
    width: 35em;
}

form#contactForm textarea
{
    width: 30em;
    height: 10em;
}