/*
Project: MAIN CSS Template
Project Website: http://lastchance2011.com
Last updated: 2011-04-27
File: main.css
*/

/* GENERAL OBJECTS */
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

html
{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body
{
    font-family: Arial, sans-serif;
    width: 56em;
    margin-left: auto;
    margin-right: auto;
}

table
{
    border: 1px solid #000000;
    border-collapse: collapse;
}

table th, table td
{
    border: 1px solid #000000;
    padding: 5px;
}

/* LAYOUT */
div#container
{
    min-height: 100%;
    position: relative;
}

div#header
{
    float: left;
    margin-top: 5em;
}

div#nav
{
    float: right;
    margin-top: 5.4em;
}

div#main
{
    display: block;
    margin: 0px auto;
    clear: both;
    padding-top: 10px;
    padding-bottom: 60px;
}

div#footer
{
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

/* LAYOUT OBJECTS */


div.leftcol,
div.rightcol
{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

div#header h1
{
    font-size: 2em;
    color: #B14500;
}

div#header a, div#header a:hover, div#header a:visited, div#header a:active
{
    color: #B14500;
    text-decoration: none;
}

/* nav section */

div#nav ul
{
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

div#nav ul li
{
    display: inline;
    background: #04346C;
    list-style-type: none;
    margin: 0px 2px;
}

div#nav ul li a, div#nav ul li a:hover, div#nav ul li a:visited, div#nav ul li a:active
{
    color: #FFFFFF;
    background: #04346C;
    text-decoration: none;
    padding: 0.4em;
}

div#nav ul li.active a
{
    background: #B14500 !important;
}

div#nav ul li.alert
{
    position: relative;
    text-decoration: none;
}

div#nav ul li.alert span
{
    display: block;
    position: absolute;

    padding: .75em;
    content: attr(title);
    min-width: 120px;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    font: normal 12px "Segoe UI", Arial, Sans-serif;
    top: -50px;
    left: -37px;
    background: rgba(0,0,0,.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
   
    color: #FFFFFF;
}

div#nav ul li.alert span:after
{
    position: absolute;
    display: block;
    content: "";
 
    border-color: rgba(0,0,0,.8) transparent transparent transparent;
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
    position: absolute;
    left: 62px;
    bottom: -14px;
    margin: auto;
}

div#main h2
{
    font-size: 1.5em;
    margin: 1em 0;
}

div#main h3
{
    margin: 1em 0;
}

div#main p
{
    line-height:1.2em;
    margin: 1em 0;
}

div#main small
{
    font-size: .8em
}

div#main ol
{
    margin: 1em 0 1em 2.5em;
    list-style-type: decimal;
}

div#main ol li
{
    margin-top: .2em;
}

div#main a, div#main a:hover, div#main a:visited, div#main a:active, div#footer a, div#footer a:hover, div#footer a:visited, div#footer a:active
{
    color: #04346C;
}

form.buttonForm
{
    display: inline;
}

ul#messages li.message
{
    border: 1px solid #CCCCCC;
    padding: .5em;
    margin: .5em 0;
}

ul#messages li.message span.actions
{
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

ul#messages li.message:hover > span.actions
{
    opacity: 1;
}

form#contactForm
{
    width: 25em;
}

form#contactForm input[name="subject"]
{
    width: 100%;
}

form#contactForm textarea
{
    width: 100%;
    height: 10em;
}
