{% extends "base.html" %}

{% block extrahead %}
<style>
    #existing_users { font-size: .9em; width: 100%;}
    #admin-actions button { display: block; margin-top: 1em; } 
</style>
<script type="text/javascript" src="/js/admin.js"></script>
{% endblock %}

{% block content %}
<div id="main">
  <div class="colwrapper">
  <div class="leftcol">  
    <h2>Add Users</h2>
    <form action="/admin/addusers" method="post">
      FORMAT: (first_name, last_name, user_id):<br>
      <textarea name="users" cols="40" rows="10"></textarea><br>
      <input type="submit" value="Add Users">
    </form>
  </div>

  <div class="rightcol" id="admin-actions">
    <h2>Actions</h2>
    <button onclick="inviteAll();">Invite All</button>
    <button onclick="updateMatches();">Update Matches</button>
    <button onclick="sendMatchNotifications();">Send Match Notifications</button>
    
  <form onSubmit="setSiteStatus(); return false;">
    <h2>Site Status</h2>
    <input type="radio" name="site_status" value="pre"{% if site_status == 'pre' %} checked{% endif %}><label for="site_status">Pre-Launch (pre)</label><br>
    <input type="radio" name="site_status" value="open"{% if site_status == 'open' %} checked{% endif %}><label for="site_status">Can Enter Crushes (open)</label><br>
    <input type="radio" name="site_status" value="calculating"{% if site_status == 'calculating' %} checked{% endif %}><label for="site_status">Pre-Release Matches (calculating)</label><br>
    <input type="radio" name="site_status" value="showing"{% if site_status == 'showing' %} checked{% endif %}><label for="site_status">Matches Available (showing)</label><br>
    <button type="submit">Set Status</button>
  </form>
  </div>
  </div>
  <h2>Existing Users</h2>
  <table id="existing_users">
    <tr><th>Carleton ID</th><th>Name</th><th>Pair Code</th><th>Google ID</th><th>Actions</th></tr>
    {% for carl in carls %}
    <tr>
      <td>{{ carl.carletonID }}</td>
      <td>{{ carl.first_name }} {{ carl.last_name }}</td>
      <td>{{ carl.pair_code }}</td>
      {% if carl.googleID %}<td>{{ carl.googleID }}</td>{% else %}<td>NOT PAIRED</td>
      {% endif %}
      <td>
        <form class="buttonForm" action="/admin/unpaircarl" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="upair"></form>
        <form class="buttonForm" action="/admin/newpaircode" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="ncode"></form>
        <form class="buttonForm" action="/admin/deletecarl" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="rm"></form>
        <form class="buttonForm" action="/admin/invite" method="post"><input type="hidden" name="carletonID" value="{{ carl.carletonID }}"><input type="submit" value="inv"></form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
