<!DOCTYPE HTML>
<html>
<head>
<title>lcDance</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
{% block extrahead %}{% endblock %}

<style>

div.settings-form p, div.settings-form h1, div.settings-form form, div.settings-form button
{
    border: 0;
    margin: 0;
    padding: 0;
}

div.settings-form div.spacer
{
    clear:both;
    height:1px;
}

div.settings-form
{
    margin: 0 auto;
    width: 600px;
    padding: 14px;
    margin-bottom: 1em;
    border: solid 2px #b7ddf2;
    vertical-align: top;
    background: #ebf4fb;
}

div.settings-form h1
{
    font-weight: bold;
    margin-bottom: 8px;
}

div.settings-form p
{
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}

div.settings-form label
{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
}

div.settings-form .small
{
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

div.settings-form input
{
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 400px;
    margin: 2px 0 20px 10px;
}

div.settings-form button
{
    clear: both;
    margin-left: 240px;
    width: 125px;
    height: 31px;
    background: #666666 url(img/button.png) no-repeat;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: .75em;
    font-weight: bold;
}</style

</head>
<body>
    
<div id="container">

<div id="header">
<h1><a href="/">lcD</a></h1> <small><strong>hey there,</strong> {% if user and paired %}{{ first_name|lower }} {{ last_name|lower }}.{% else %}{% if user %} <a href="/settings">pair your account!</a>{% else %} <a href="{{ login_url }}">log in!</a>{% endif %}{% endif %}</small>
</div>
{% block navigation %}
<div id="nav">
<ul>
  <li class="{% if current_page.main %}active{% else %}inactive{% endif %}"><a href="/">Main</a></li>
  {% if user %}
    {% if opted_in and paired %}
      <li class="{% if current_page.crushes %}active{% else %}inactive{% endif %}"><a href="/crushes">Crushes</a></li>
    {% endif %}
    {% if paired and not opted_in %}
      <li class="alert{% if current_page.settings %} active{% else %} inactive{% endif %}"><a href="/settings">Settings</a><span>you are opted out</span></li>
    {% else %}
      {% if not paired %}
        <li class="alert{% if current_page.settings %} active{% else %} inactive{% endif %}"><a href="/settings">Settings</a><span>you need to pair your account</span></li>
      {% else %}
        <li class="{% if current_page.settings %}active{% else %}inactive{% endif %}"><a href="/settings">Settings</a></li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if admin %}
    <li class="{% if current_page.admin %}active{% else %}inactive{% endif %}"><a href="/admin">Admin</a></li>
  {% endif %}
  <li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
</ul>
{% endblock %}

</div>
{% block content %}{% endblock %}
<div id="footer">{% if user %}Logged in as <strong>{{ user.email }}</strong> - {% endif %}{% if paired %}Paired with <strong>{{ carleton_id }}</strong> - {% endif %}Problems? Feedback? <a href="/contact">Send us an email</a></div>
</div>
</body>
</html>
