<!DOCTYPE HTML>
<html>
<head>
<title>lcDance</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
{% block extrahead %}{% endblock %}
</head>
<body>
    
<div id="container">

<div id="header">
<h1><a href="/">lcD</a></h1> <small>({{ num_crushes }} crushes so far)</small>
</div>
{% block navigation %}
<div id="nav">
<ul>
  <li class="{% if current_page.main %}active{% else %}inactive{% endif %}"><a href="/">Main</a></li>
  {% if user %}
    {% if opted_in and paired %}
      <li class="{% if current_page.crushes %}active{% else %}inactive{% endif %}"><a href="/crushes">Crushes</a></li>
    {% endif %}
    {% if paired and not opted_in %}
      <li class="alert{% if current_page.settings %} active{% else %} inactive{% endif %}"><a href="/settings">Settings</a><span>you are opted out</span></li>
    {% else %}
      {% if not paired %}
        <li class="alert{% if current_page.settings %} active{% else %} inactive{% endif %}"><a href="/settings">Settings</a><span>you need to pair your account</span></li>
      {% else %}
        <li class="{% if current_page.settings %}active{% else %}inactive{% endif %}"><a href="/settings">Settings</a></li>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if admin %}
    <li class="{% if current_page.admin %}active{% else %}inactive{% endif %}"><a href="/admin">Admin</a></li>
  {% endif %}
  <li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
</ul>
{% endblock %}

</div>
{% block content %}{% endblock %}
<div id="footer">{% if user %}Logged in as <strong>{{ user.email }}</strong> - {% endif %}{% if paired %}Paired with <strong>{{ carleton_id }}</strong> - {% endif %}Problems? Feedback? <a href="/contact">Send us an email</a></div>
</div>
</body>
</html>
