{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery/jquery-ui-1.8.12.custom.css" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
{% endblock %}

{% block content %}
<div id="main" class="colwrapper">

<div class="leftcol">
    <div id="crushes-header">
    <h2 style="display:inline;">Crushes</h2>
    <span id="new-crush">new crush: <input type="text" class="crush" name="crush"></span>
    </div>
    <div id="crushes">
    {% for crush in crushes %}
    <div id="crush-{{ crush.target.carletonID }}" class="crushdiv">
        <img src="/user_images/{{ crush.target.carletonID }}.jpg" width="120" height="120" alt="{{ crush.target.carletonID }}"><br>
        {{ crush.target.first_name }} {{ crush.target.last_name }}<br>
        {% if not crush.target.opted_in %}<span style="color:red;">opted out</span><br>
        {% else %}
            {% if not crush.target.googleID %}<span style="color:red;">not yet registered</span><br>
            {% else %}<span style="color:green;">participating!</span><br>
            {% endif %}
        {% endif %}
        <button class="messageCrush" value="{{ crush.target.carletonID }}" data-first-name="{{ crush.target.first_name }}" data-last-name="{{ crush.target.last_name }}">message</button>
        <button class="removeCrush" value="{{ crush.target.carletonID }}">remove</button>
    </div>
    {% endfor %}
    </div>
</div>

<div class="rightcol">
    <div id="messages-header">
        <h2 style="display:inline;">Messages</h2>
        <ul id="messages-nav">
            <li id="messages-nav-to-me" class="active"><a href="javascript:void(0);" onclick="javascript:showMessages('to-me');">To Me{% if num_unread_messages > 0 %} ({{ num_unread_messages }}){% endif %}</a></li>
            <li id="messages-nav-from-me"><a href="javascript:void(0);" onclick="javascript:showMessages('from-me');">From Me{% if num_unread_sent_messages > 0 %} ({{ num_unread_sent_messages }}){% endif %}</a></li>
        </ul>
    </div>
    <div id="messages-to-me" class="messages-tab">
    <div class="messages">
       {% for message in messages %}
         <div class="message" data-mid="{{ message.key.id }}">
         <div class="message-item{% if carleton_id == message.target.carletonID and message.target_unread %} unread{% endif %}">
           <div class="message-item-header">
           <div class="message-item-info"><strong>User #{{ message.source.key.id|add:offset }}</strong> on {{ message.local_created|date:"M d \@ g:i:s A"}}</div>
           <div class="message-actions">
             <ul class="icons ui-widget ui-helper-clearfix">
               {% if not message.replies.count %}<li class="ui-state-default ui-corner-all reply-button" title="Reply"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></li>{% endif %}
               <li class="ui-state-default ui-corner-all delete-button" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
               <li class="ui-state-default ui-corner-all block-button" title="Block User"><span class="ui-icon ui-icon-cancel"></span></li>
             </ul>
           </div>
           </div>
           <div class="message-item-body">{{ message.body }}</div>
         </div>
         {% for reply in message.replies %}
           <div class="message-item reply{% if carleton_id == message.source.carletonID and reply.source_unread or carleton_id != message.source.carletonID and reply.target_unread %} unread{% endif %}{% if carleton_id == reply.source.carletonID %} sent{% endif %}">
             <div class="message-item-header">
             <div class="message-item-info">
               {% if carleton_id == reply.source.carletonID %}<strong>You</strong> on
               {% else %}<strong>User #{{ message.source.key.id|add:offset }}</strong> on {% endif %}
               {{ reply.local_created|date:"M d \@ g:i:s A"}}
             </div>
             </div>
	         <div class="message-item-body">{{ reply.body }}</div>
	       </div>
	     {% endfor %}
         <div class="message-item reply reply-box"{% if not message.replies.count %} style="display:none;"{% endif %}><input type="text" class="reply-text" placeholder="Write a reply..."></div>
         </div>
       {% endfor %}
    </div>
    </div>
    <div id="messages-from-me" class="messages-tab">
    <div class="messages">
       {% for message in sent_messages %}
         <div class="message" data-mid="{{ message.key.id }}">
         <div class="message-item sent">
           <div class="message-item-header">
           <div class="message-item-info"><strong>You</strong> to <strong>{{ message.target.first_name }} {{ message.target.last_name }}</strong> on {{ message.local_created|date:"M d \@ g:i:s A"}}</div>
           <div class="message-actions">
             <ul class="icons ui-widget ui-helper-clearfix">
               {% if not message.replies.count %}<li class="ui-state-default ui-corner-all reply-button" title="Reply"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span></li>{% endif %}
               <li class="ui-state-default ui-corner-all delete-button" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
               <li class="ui-state-default ui-corner-all block-button" title="Block User"><span class="ui-icon ui-icon-cancel"></span></li>
             </ul>
           </div>
           </div>
           <div class="message-item-body">{{ message.body }}</div>
         </div>
         {% for reply in message.replies %}
           <div class="message-item reply{% if carleton_id == message.source.carletonID and reply.source_unread or carleton_id != message.source.carletonID and reply.target_unread %} unread{% endif %}{% if carleton_id == reply.source.carletonID %} sent{% endif %}">
             <div class="message-item-header">
             <div class="message-item-info">
               {% if carleton_id == reply.source.carletonID %}<strong>You</strong> on
               {% else %}<strong>{{ reply.source.first_name }} {{ reply.source.last_name }}</strong> on {% endif %}
               {{ reply.local_created|date:"M d \@ g:i:s A"}}
             </div>
             </div>
	         <div class="message-item-body">{{ reply.body }}</div>
	       </div>
  	   {% endfor %}
       <div class="message-item reply reply-box"{% if not message.replies.count %} style="display:none;"{% endif %}><input type="text" class="reply-text" placeholder="Write a reply..."></div>
       </div>
       {% endfor %}
    </div>
    </div>
</div>

</div>

<div id="new-message-form" title="New Message">
  <form>
  <fieldset>
    <input type="hidden" name="message-to" id="message-to">
    <label for="message-to-box">To</label><input type="text" name="message-to-box" id="message-to-box" class="text ui-widget-content ui-corner-all" disabled>
    <label for="message-body">Body</label><textarea name="message-body" id="message-body" class="text ui-widget-content ui-corner-all"></textarea>
  </fieldset>
  <p>Note: Beware of what you send. Even though messages are anonymous, users have the power to block you, so don't spam and be appropriate.</p>
</form>
</div>

<script type="text/javascript" src="/js/crushes.js"></script>
{% endblock %}
