Hey there {{ first_name }}!{% if num_crushes > 1 %}

{{ num_crushes }} people selected you as a crush today. Really exciting right!{% else %}{% if num_crushes == 1 %}

Someone selected you as a crush today. Exciting right!{% endif %}{% endif %}{% if num_messages > 1 %}

You{% if num_crushes > 0 %} also{% endif %} have {{ num_messages }} unread messages.{% else %}{% if num_messages == 1 %}

You{% if num_crushes > 0 %} also{% endif %} have 1 unread message.{% endif %}{% endif %}

You can select your own crushes and send messages at http://lastchance2011.com/crushes

Love,
Last Chance Dance 2011
