Hey {{ first_name }}!{% if num_crushes > 1 %}

{{ num_crushes }} people selected you as a crush in the last 12 hours. Really exciting, right?{% else %}{% if num_crushes == 1 %}

Someone selected you as a crush in the last 12 hours. Exciting, right?{% endif %}{% endif %}{% if num_messages > 1 %}

You{% if num_crushes > 0 %} also{% endif %} have {{ num_messages }} unread messages.{% else %}{% if num_messages == 1 %}

You{% if num_crushes > 0 %} also{% endif %} have 1 unread message.{% endif %}{% endif %}

You can select your own crushes and send messages at http://lastchance2011.com/crushes. If you don't want to be a part of Last Chance Dance, go to http://lastchance2011.com/settings and click opt-out or send us an email.

If you have any problems or concerns, please let us know,
Carleton Last Chance Dance 2011